.moreView {
  margin: 16px auto ;
  padding: 16px 16px 32px;
  background-color: #ebeeef;
  border-radius: 4px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.heading :first-child {
  font-size: 24px;
  color: #002f34;
}

.heading :last-child {
  font-size: 14px;
  color: #002f34;
}



.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.moreView .cards::-webkit-scrollbar{
  display: none;
}
.card {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;

}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
}
.card .content .rate {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}
.card .content .kilometer {
  font-size: medium;
}
.card .content .name {
  font-size: small;
}
.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

.recommendations {
  margin:16px 24px ;
  overflow-x: hidden;

}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}


.postParentDiv{
  width: 100vw;
  overflow-x: hidden;
}


